Bootstrap-Flask==2.2.0
Flask==2.3.2
Flask-CKEditor==0.4.6
Flask-Cors==4.0.1
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
WTForms==3.0.1
Werkzeug==3.0.2
SQLAlchemy==2.0.25
gunicorn==21.2.0
cors==1.0.1
google==3.0.0
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.5.4
googleapis-common-protos==1.63.0
ipython~=8.25.0
pyttsx3~=2.90
transformers~=4.41.2
speech~=0.5.2
